# Environment files
.venv/

# Neural network log files
notebooks/lightning_logs/

 
predictor/__pycache__/run_predictor.cpython-311.pyc
models/__pycache__/
predictor/__pycache__/smiles_data.cpython-311.pyc
